* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 1024px;
  background: url("../images/v1_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_6 {
  width: 540px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 46px;
  left: 454px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v1_9 {
  width: 1px;
  height: 5px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 671px;
  overflow: hidden;
}
.v1_10 {
  width: 224px;
  height: 49px;
  background: rgba(0,192,232,1);
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 748px;
  overflow: hidden;
}
.v1_12 {
  width: 186px;
  color: rgba(203,48,224,1);
  position: absolute;
  top: 108px;
  left: 767px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_14 {
  width: 622px;
  height: 143px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 393px;
  left: 403px;
  overflow: hidden;
}
.v1_17 {
  width: 566px;
  color: rgba(224,48,68,1);
  position: absolute;
  top: 414px;
  left: 439px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v1_18 {
  background-color: #e0e0e0; /* light grey */
  display: inline-block;
  padding: 6px 8px;
  border-radius: 4px;
  width: 566px;
  color: rgba(224,48,68,1);
  position: absolute;
  top: 570px;
  left: 439px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
